html(lang="en")
	head
		title Home | Xpress
		div.container
        div.row
        h2 Stylish Search Box 
        div#custom-search-input
            div.input-group.col-md-12
                input.search-query.form-control(type="text" placeholder="Search")
                img(src="https://cdn4.iconfinder.com/data/icons/triconify-media/32/microphone-512.png")

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
	body
		button(type="button") Add Item
