html(lang="en")
	head
		title Home | Xpress

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://getbootstrap.com/docs/4.0/examples/narrow-jumbotron/narrow-jumbotron.css")
		
	style
		include style.css
	body
		div.container
			div.header.clearfix
				nav
					ul.nav.nav-pills.float-right
						li.nav-item
							a.nav-link.active(href="/") Home
								span.sr-only (current)
				h3.text-muted Xpress
			img(src="http://3.bp.blogspot.com/-KG3w3tODaFw/TtqGqMtb-KI/AAAAAAAAAIk/z8w3c40cvH4/s1600/IMAG0548.jpg" style="width:100%")
			